

#confirm{
    text-align: center;
    padding-right: 30px;
    padding-left:30px;
    h1{
        margin-top: 120px;
        margin-bottom : 50px;
    }
    span{
        font-weight: bold;
    }
    p{
        margin-bottom: 60px;
    }
}

